* {
    font-family: Arial, Helvetica, sans-serif;
}
nav {
padding: 10px;
margin-bottom: 30px;
background-color: #EFF6E0;
}
nav a {
background-color:#EFF6E0;
color: #AEC3B0;
}
nav a:hover{
background-color: #7EA081; 
}

@media only screen and (max-width:600px) {
    nav a {
        display: block;
        max-width: 100%;
    }
    .pipe {
        display: none;
    }

}
.heading {
    text-align: center;
}
.banner {
    max-width: 100%;
}
.icon {
    width: 40px;
}
.row {
    display:flex;
    justify-content:space-between;
}
.copyright {
    float: left;
}
.quote {
    float: right;
    clear: none;
}

.row1, .row2 {
    background-color: #AEC3B0;
    border-radius: 1em;
    display: flex;
    padding: 20px;
    margin: 15px; 
}

.row2 {
    flex-wrap: wrap;
}
.column1, .column4 {
    float:left;
}
.column2, .column{
    float:right;
}
.column1, .column2, .column3, .column4 {
    margin: 10px;
}
.column1 {
    order: 1;
}
.column2 {
    order: 2;
}
.column3 {
    order: 4;
}

.heading {
    text-align: center;
}
aside {
    background-color: #AEC3B0;
    border-radius: 0.5em;
    padding: 15px;
}
.flexbox2 {
    display: flex;
    margin: 25px;
    justify-content: space-between;
}
.columnflex1 {
    display: flex;
    flex: 3;
    justify-content: left;
}
.columnflex2 {
    display: flex;
    flex-basis: 1;
    justify-content:right;
}

h3 {
margin: 15px;
}