* {
    font-family: Arial, Helvetica, sans-serif;
}
nav {
padding: 10px;
margin-bottom: 30px;
background-color: #EFF6E0;
}
nav a {
background-color:#EFF6E0;
color: #AEC3B0;
}
nav a:hover{
background-color: #7EA081; 
}

.heading {
    text-align: center;
}

img {
    width: 40px;
}
.row {
    display:flex;
    justify-content:space-between;
}

aside {
    background-color: #AEC3B0;
    border-radius: 0.5em;
    padding: 15px;
}
.flexbox2 {
    display: flex;
    margin: 25px;
    justify-content: space-between;
}
.columnflex1 {
    display: flex;
    flex: 3;
}
.columnflex2 {
    display: flex;
    flex-basis: 1;
}
